{% extends "layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Redefinir senha
{% endblock %}
{% block content %}
<div class="container">
    <h2>Redefinir senha</h2>
    <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail com instruções para configurar um novo.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <br/>                   
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</div>
{% endblock %}
