<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Error 404</title>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
            <div class="text-center">
                <h1 class="display-1 fw-bold text-white">404</h1>
                <p class="fs-3 text-white"> <span class="text-white">Ops!</span > Página não encontrada.</p>
                <p class="lead text-white">
                    A página que você está procurando não existe.
                </p>
            </div>
        </div>
    </body>
</html>
